*{
    padding: 0;
    margin: 0;
}
* {
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
  }
main{
    width: 100%;
}
body{
    height: 70vw;
}
.div1{
    height: 55vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 div{
    margin: 60px;
    width: 25vw;
    height: 30vw;
    border-radius: 30px;
    background-color: rgba(46, 46, 46, 0.349);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.76);
}
.div1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.div1 a{
    color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.div1 h1{
    color: rgba(0, 0, 0, 0.716);  
    margin: 50px;
}
.div1 div{
    transition: all 0.3s;
}
.div1 div:hover{
    transform: scale(1.01);
}

.div1 div:active{
    transform: scale(1.00001);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    z-index: 10;
    position: fixed;
    height: 5vw;
    width: 60%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color:rgba(0, 0, 0, 0.322);
    border-radius: 50px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.226);
    transition: all 0.3s;
}
nav:hover{
    box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.329);
    transform: scale(1.03);
}
nav:active{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.329);
    transform: scale(0.99999999);
}
.main1{
    height: 35vw;
    width: 100%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 60px;
    list-style-type: none;
}

.div2{
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 48vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div2 div{
    z-index: 1;
    margin: 60px;
    width: 25vw;
    height: 30vw;
    border-radius: 30px;
    background-color: rgba(46, 46, 46, 0.349);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.76);
}
.div2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.div2 a{
    color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.div2 h1{
    color: rgba(0, 0, 0, 0.716);  
    margin: 50px;
}
.div2 div{
    transition: all 0.3s;
}
.div2 div:hover{
    transform: scale(1.01);
}

.div2 div:active{
    transform: scale(1.00001);
}

/* 特效 */
.btn {
    width: 1vw;
    height: 1vw;
    position: relative;
    z-index: 1;
    min-width: 200px;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
.btn span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(0, -20px);
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
}
.btn:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    transform: translate(0, 0px);
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
}
.btn:hover:before,
.btn:focus:before {
    opacity: 0;
    transform: translate(0, 20px);
}
.btn:hover span,
.btn:focus span {
    opacity: 1;
    transform: translate(0, 0);
}
.btn:hover span:nth-child(1),
.btn:focus span:nth-child(1) {
    transition-delay: 0.025s;
}
.btn:hover span:nth-child(2),
.btn:focus span:nth-child(2) {
    transition-delay: 0.05s;
}
.btn:hover span:nth-child(3),
.btn:focus span:nth-child(3) {
    transition-delay: 0.075s;
}
.btn:hover span:nth-child(4),
.btn:focus span:nth-child(4) {
    transition-delay: 0.1s;
}
.btn:hover span:nth-child(5),
.btn:focus span:nth-child(5) {
    transition-delay: 0.125s;
}
.btn:hover span:nth-child(6),
.btn:focus span:nth-child(6) {
    transition-delay: 0.15s;
}
.btn:hover span:nth-child(7),
.btn:focus span:nth-child(8) {
    transition-delay: 0.175s;
}
.btn:hover span:nth-child(8),
.btn:focus span:nth-child(8) {
    transition-delay: 0.2s;
}
.btn:hover span:nth-child(9),
.btn:focus span:nth-child(9) {
    transition-delay: 0.225s;
}
.btn:hover span:nth-child(10),
.btn:focus span:nth-child(10) {
    transition-delay: 0.250s;
}
.btn:hover span:nth-child(11),
.btn:focus span:nth-child(11) {
    transition-delay: 0.275s;
}
.btn:hover span:nth-child(12),
.btn:focus span:nth-child(12) {
    transition-delay: 0.3s;
}

/*换*/
.main{
    background-image: url(./IMG/未命名.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vw;
    width: 100%;
    position: fixed;
    z-index: 0;
}